:root {
  --color-negro: #000000;
  --color-gris-claro: #f0f0f2;
  --color-rojo: #ff6347;
  --color-gris-oscuro: #555;
  --color-rojo-oscuro: #ff0000;
  --color-negro-fondo: #111;
  --color-naranja: #ff6800;
  --color-blanco: #fff;
  --color-negro-fondo-oscuro: #141111;
  --color-azul: #0d00ff;
  --color-naranja-enlace: #ff9800;
  --color-blanco-descripcion: #fdf7f7;
  --color-negro-fondo-eventos: #2b2b2b;
  --color-gris-claro-placeholder: #bebed5;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
body{
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Sedgwick Ave Display', cursive;
}
/* #region HEADER*/
header{
    z-index: 999;
    box-shadow: 0 6px 15px var(--color-negro-fondo);
    background-color: var(--color-negro-fondo);
    position: fixed;
    width: 100%;
}


#container_header_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    border-bottom: solid 4px var(--color-gris-claro);
}
#header_buscar{
display: flex;
justify-content: center;
align-items: center;
}

#header_buscar input{
    border-radius:10px;
    border: none;
    width: 70%;
    height: 70%;
    padding-left:10px;
    background-color: #333
}
#header_buscar input:hover {
  background-color: var(--color-gris-oscuro); 
}
#header_buscar{
    width: 800px;
}

#Logo{
  padding: 5px;
  border-radius: 50%;
  margin: 3px;
  background-color: var(--color-rojo);
  display: flex;
  height: 55px;
  width: 55px;
}
#logo img{
  width: 55px;
  height: 55px;
}

#Contacto{
    padding: 5px;
    border-radius: 50%;
    margin: 3px;
    background-color: var(--color-rojo);
    display: flex;
    height: 55px;
    width: 55px;
}
nav li:hover{
    border-bottom: solid var(--color-rojo-oscuro); 
}


#container_header_bottom{
    display: flex;
    justify-content:center ;
    
}

nav ul{
    display: flex;
    list-style: none;

    
}
li{
    padding: 5px;
    margin: 5px 50px;
}


nav a{
    color: var(--color-rojo-oscuro);
    -webkit-text-stroke: 2px rgb(255, 60, 0);
    text-decoration: none;
    font-size: 1.7em;
}
/* #endregion */

/* #region SECCIONEs*/

/* SECCION BANNER*/
section {
  scroll-margin-top: 90px;
  padding: 45px 90px;
  border: 1px dashed var(--color-rojo-oscuro); 
}

#banner {
  padding: 100px;
  display: flex;
  flex-direction: column;
  background: url("../img/imagengamer_banner.jpg") no-repeat center center fixed;
  background-size: cover;
  align-items: flex-end;
  color: white;
  justify-content: flex-end;
  height: 100vh;
}

.div_banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(90deg, var(--color-rojo-oscuro) 0%, var(--color-negro-fondo) 35%, var(--color-naranja) 100%);
  opacity: 0.9;
  padding: 3rem;
  font-family: sans-serif;
}
section > h1 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--color-rojo-oscuro); 
  border-bottom: 5px solid var(--color-rojo-oscuro); 
  margin-bottom: 2rem;
}

  /*SECCION RESEÑA Y COMENTARIOS*/
  #destacados {
    text-align: center;
    background-color: #000;
    color: var(--color-blanco);
    padding: 40px 0;
    font-family: 'Arial', sans-serif;
  }
  
  .destacados-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .destacado-info {
    flex: 1;
    text-align: center;
    padding: 2rem;
    background: var(--color-negro-fondo);
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    color: var(--color-blanco);
    font-size: 16px;
  }
  
  .destacado-info img {
    max-width: 100%;
  }
  
  .star-rating {
    color: gold;
    font-size: 1.5rem;
  }
  
  .clientes-comentarios {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .comentario {
    display: flex;
    gap: 10px;
    padding: 15px;
    background-color: #222;
    border-radius: 8px;
    color: var(--color-blanco);
  }
  
  .cliente img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .cliente-mensaje {
    flex: 1;
    margin-bottom: 0.75rem;
    font-size: 14px;
  }
  
  .cliente-firma {
    font-style: italic;
    font-weight: 600;
  }
  /* SECCION TOP JUEGOS ACTUALIDAD*/
  #top_juegos {
    background-color: var(--color-negro-fondo-oscuro);
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#juegos-lista {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
#juegos-lista li{
  background-color: #333;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.juego-imagen {
    align-self: center;
    padding: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
   
}

.juego-info {
    color: rgb(254, 254, 254);
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.juego-titulo {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

.juego-descripcion {
  font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--color-rojo-oscuro);
    border-radius: 15px;
    font-size: 0.9em;
    color: var(--color-blanco-descripcion);
}
 /* SECCION PROXIMOS EVENTOS */
#Eventos_Proximos {
  background-color: var(--color-negro-fondo-oscuro); 
  color: var(--color-blanco);
  padding: 40px; 
}

#Eventos_Proximos h2 {
  font-size: 24px; 
  margin-bottom: 20px; 
}

.div_container_eventos{
  display: flex ;
  gap: 10px;
  justify-content: space-around;
}
.evento {
  display: flex;
  gap: 10px;
  background-color: var(--color-negro-fondo-eventos); 
  color: var(--color-blanco); 
  padding: 20px; 
  margin-bottom: 20px; 
  border-radius: 8px; 
}
.evento .evento_descripcion{
  width:350px ;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.div_img img{
  width: 200px;
  height: 200px;
}
.evento h3 {
  color: var(--color-azul);
 
  font-size: 20px;/
  margin-bottom: 10px;
}
.evento p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.evento a {
  color: var(--color-naranja-enlace); 
  text-decoration: none; 
  font-weight: bold; 
}

.evento a:hover {
  text-decoration: underline; 
}

/* #endregion */
/* #region FOOTER */
  footer {
    height: 350px;
    display: flex;
    background: #000;
    align-items: center;
    justify-content: center;
    border: 1px dashed var(--color-rojo-oscuro)  ;
  }

  .container_footer{
   
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      justify-content: center;
      align-items: center;
  }
  .container_footer h1{
      font-size: 50px;
      font-weight: bolder;
      color: rgb(255, 213, 0);
      font-family: cursive;
      -webkit-text-stroke: 2px rgb(255, 0, 0);
  }
 
  #contacto-form{
   color:whitesmoke ;
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: center;
   width: 400px;
  }

  #contacto-form input{
   padding: 5px; 
   height: 30px;
   background-color: #2a2727;
   color: var(--color-blanco)fff;
   border-bottom: 3px solid #ff1100;
  }
  #contacto-form textarea{
    padding: 5px;
    height: 55px;
    background-color: #2a2727;
    color: var(--color-blanco)fff;
    border-bottom: 3px solid #ff1100
  }
  #contacto-form .btn{
    background-color: var(--color-rojo-oscuro);
    background-image: -webkit-linear-gradient(top, #eb0202, #ed7905);
    height: 30px;
    border-radius: 20px;
  }
  #contacto-form input:hover{
    border-bottom: 3px solid #ff8400
  }
  #contacto-form textarea:hover{
    border-bottom: 3px solid #ff8400
    
  }
  #contacto-form .btn:hover{
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #eb0202, #ff0800);
  }
  #contacto-form input::placeholder{
    color: var(--color-gris-claro-placeholder);
  }
  #contacto-form textarea::placeholder{
    color: var(--color-gris-claro-placeholder);
  }

 .footer-text{
      
      font-size: 1.2em;
      font-weight: bolder;
      color: rgb(255, 98, 0);
      font-family: cursive;
      -webkit-text-stroke: 2px rgb(255, 0, 0);
 }
  /*#endregion*/
 /* #region FLECHA_IR_ARRIBA*/
  #div-ir-arriba {
    display: flex;
    cursor: pointer;
  
    position: fixed;
    bottom: 20px;
    right: 20px;
  
    background:hsl(210deg 56.44% 38.35%);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: none;
  
    box-shadow: 0px 12px 7px rgba(0, 0, 0, .1);
    transition: 300ms ease;
  }
  
  #div-ir-arriba:hover {
    background: hsl(244, 100%, 50%);
    transform: translateY(-0.5rem);

  }
  .div-ir-arriba-flecha{
    padding: 8px;
  }
  /*#endregion*/
  
  
  
