@media screen and (max-width: 1440px) {

    body {
      font-size: 14px;
    }
  
    section {
      padding: 40px 70px;
    }
  
    .destacados-container {
     margin: 0 30px; 
     gap: 45px;
    }
    .evento {
      width: 330px;
      flex-direction: column;
    }
    .evento .evento_descripcion {
      width: 300px;
  
      }
      .div_img img {
        margin: auto;
    }


    section > h1 {
      font-size:1.7rem;

    }
    #juegos-lista li{
      width: 180px;
      flex-direction: column;
      gap: 7px;
     
    }

   
  
    .galeria-img {
      max-width: 350px;
      padding: 1rem;
      margin: 1rem;
    }
  
  }
  
  @media screen and (max-width: 1024px) {
  
    body {
      font-size:12px;
    }
  
    section {
      padding: 40px 50px;
    }
    .destacados-container {
      gap: 20px;
      margin: 0 20px;
    }
    .evento {
      flex-direction: column;
    }
    .evento .evento_descripcion {
      width: 250px;
  
      }
      .div_img img {
        margin: auto;
    }
    section > h1 {
     font-size: 1.6rem;

    }
    #juegos-lista li{
      background-color: #333;
      width: 180px;
      display: flex;
      flex-direction: column;
      gap: 7px;
      
    }

    .destacado-info h3{
      font-size: 14px;
    }
    .footer-text{
      text-align: center;
     }
  
    }
  @media screen and (max-width: 768px) {
    body {
      font-size: 12px;
    }
  
    section {
      padding: 40px 45px;
    }
  
    #navbar ul{
      position: absolute;
      left: 0px;
      top: 60px;
      padding: 10px;
      gap: 20px;
      background:#1b1a1e;
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: 10px;
      font-family: Arial, Helvetica, sans-serif;
      transform: translateX(-100%);
      transform-origin: 5px 0px;
      transition: all 0.2s linear;
      
    }
    nav li:hover{
      transform:none; 
      border-bottom: none;
      background: #636369;
      
      
  }  
  .menu-toggle {
      display: flex;
      flex-direction: column;

    }
    .bar{
      width: 30px;
      height: 4px;
      border-radius: 2px;
    }
    .close.bar{
      transform: rotate(45deg) translate(0px,0px);
    }
    .close.bar:nth-child(2){
      display: none;
    }
    .close.bar:nth-child(3){
      transform: rotate(-45deg) translate(-5px,1px);
    }
    .open{
      transform: translateX(0)!important;
    }

    section > h1 {
      font-size: 1.5rem;
    }

    section > h2 {
      font-size: 1.5rem;
      text-align: center;
 
     }
     .div_banner {
      gap: 1.6rem;
      text-align: center;
      padding: 1.6rem;
    
    }

     .destacados-container{
     flex-direction: column;
     
     }
     .evento {
      flex-direction: column;
      width:240px ;
      padding: 20px;
    }

    .evento .evento_descripcion {
    width: 205px;

    }
    .div_img img {
      margin: auto;
  }
  
     #juegos-lista li{
      
      width: 220px;
      height: 300px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      
    }
    .destacado-info h3{
      font-size: 10px;
    }
   .container_footer{
    width: 300px;
    margin: 20px;
   }
   #contacto-form{
    width: 300px;
   }
   .footer-text{
    text-align: center;
   }
   #div-ir-arriba {
    opacity: 0.7;
  
  }
}